/* About.css */
.about-section {
  padding: 100px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px; 
  background-color: #ffffff;
  background-color: var(--bg-main);
  color: var(--text-primary)
}


.about-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image {
  max-width: 100%;
  height: auto;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}


.about-right {
  flex: 1;
}

.about-right h2 {
  font-size: 2.8rem;
  font-weight: 800;
  color: #18181b;
  margin-bottom: 20px;
  color: var(--text-primary)
}

.about-right p {
  font-size: 1.05rem;
  color: #52525b;
  line-height: 1.8;
  margin-bottom: 40px;
}


.skill-item {
  margin-bottom: 30px;
}

.skill-name {
  display: block;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 12px;
  color: #18181b;
  color: var(--text-primary)
}

.progress-bar-container {
  width: 100%;
  height: 10px;
  background-color: #f1f5f9;
  border-radius: 20px;
  position: relative;
}

.progress-fill {
  height: 100%;
  background-color: #0ea5e9; 
  border-radius: 20px;
  position: relative;
  transition: width 1.5s ease-in-out;
}

.percentage-bubble {
  position: absolute;
  right: -18px;
  top: -38px;
  background-color: #0ea5e9;
  color: #fff;
  padding: 4px 8px;
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 6px;
}

.percentage-bubble::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #0ea5e9;
}


.progress-dot {
  position: absolute;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 3px solid #0ea5e9;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(14, 165, 233, 0.3);
}


@media (max-width: 992px) {
  .about-section {
    flex-direction: column;
    text-align: center;
    padding: 60px 5%;
  }
}